defaults/flow.json
[{"type":"tab","id":"5f3e9f2.f266c6","label":"Dialog"},{"type":"tab","id":"f44213e0.6b0cc","label":"Tone Analyser"},{"type":"tab","id":"3665fcd.f4a2004","label":"Concept Insights"},{"type":"tab","id":"150e1f6b.17a5d1","label":"Feature Extract"},{"type":"tab","id":"a998d52d.b1a658","label":"Image Analysis"},{"id":"3203d948.d992f6","type":"dropbox-config","z":"5f3e9f2.f266c6"},{"id":"42b51037.044ea","type":"box-credentials","z":"5f3e9f2.f266c6","displayName":"a Display Name"},{"id":"3882de91.d691a2","type":"watson-concept-insights-corpus","z":"3665fcd.f4a2004","cname":"","access":"private","corpusmode":"public","publiccorpus":"TEDTalks"},{"id":"df492c05.968d2","type":"watson-concept-insights-corpus","z":"3665fcd.f4a2004","cname":"mycorpus","access":"private","corpusmode":"user","publiccorpus":"TEDTalks"},{"id":"e21309c5.02efb8","type":"dropbox","z":"5f3e9f2.f266c6","filename":"","name":"","x":292,"y":134,"wires":[[]]},{"id":"1ac5aae7.be7eb5","type":"inject","z":"5f3e9f2.f266c6","name":"Start Simulation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.13333129882812,"y":74,"wires":[["c29102bd.86cde"]]},{"id":"efb5e7d.6200418","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Create Dialog","mode":"create","dialog":"","clientid":"","converse":"","x":552.6333312988281,"y":163.75,"wires":[["a7720113.fb91f","a610d11a.46e46"]]},{"id":"59e769d9.99c1d8","type":"function","z":"5f3e9f2.f266c6","name":"Prepare request","func":"function generateUUID() {\n var d = new Date().getTime();\n var uuid = 'xxxx-4xxx-yxxx'.replace(/[xy]/g, function(c) {\n var r = (d + Math.random()*16)%16 | 0;\n d = Math.floor(d/16);\n return (c=='x' ? r : (r&0x3|0x8)).toString(16);\n });\n return uuid;\n}\n\nmsg.dialog_params = {};\nmsg.dialog_params[\"file\"] = msg.payload;\nmsg.dialog_params[\"dialog_name\"] = \"PizzaYLC\"+generateUUID();\nreturn msg;","outputs":1,"noerr":0,"x":547.7583312988281,"y":117.50000762939453,"wires":[["efb5e7d.6200418"]]},{"id":"87792e2.864e7d","type":"inject","z":"5f3e9f2.f266c6","name":"List All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.7583236694336,"y":625.75,"wires":[["a264b73f.c02388"]]},{"id":"a264b73f.c02388","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Available Dialog","mode":"list","dialog":"","clientid":"","converse":"","x":341.7583312988281,"y":626.75,"wires":[["2df07fbf.268a"]]},{"id":"2df07fbf.268a","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"true","x":533.0083312988281,"y":625.5,"wires":[]},{"id":"214350aa.06e5b","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Start Conversation","mode":"startconverse","dialog":"","clientid":"","converse":"","x":328.6333312988281,"y":243.75,"wires":[["fba1d26a.092e1","98192856.683fa8"]]},{"id":"5bb7e475.a5531c","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Continue Conversation","mode":"converse","dialog":"","clientid":"","converse":"","x":339.1333312988281,"y":370,"wires":[["96b33cfb.dde5e","59dbb086.c8e3"]]},{"id":"af911168.9195d","type":"service-dialog","z":"5f3e9f2.f266c6","name":"List Profile Variables","mode":"getprofile","dialog":"","clientid":"","converse":"","x":345.3833312988281,"y":472.5,"wires":[["f14b34d4.784618"]]},{"id":"fba1d26a.092e1","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":620.6333312988281,"y":246.75,"wires":[]},{"id":"96b33cfb.dde5e","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":555.1333312988281,"y":369.75,"wires":[]},{"id":"f14b34d4.784618","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":583.6333312988281,"y":472.25,"wires":[]},{"id":"c29102bd.86cde","type":"http request","z":"5f3e9f2.f266c6","name":"Get XML Template","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":329.1333312988281,"y":73,"wires":[["59e769d9.99c1d8"]]},{"id":"e79ccbd9.3bbf08","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Delete Dialog","mode":"delete","dialog":"ba128d81-4870-42c3-a6a6-0bafd8c0a731","clientid":"","converse":"","x":336.1333312988281,"y":552,"wires":[["d36d2f07.f81fb"]]},{"id":"cc452432.c0dbe8","type":"inject","z":"5f3e9f2.f266c6","name":"Delete a Dialog","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.13333129882812,"y":552,"wires":[["e79ccbd9.3bbf08"]]},{"id":"d36d2f07.f81fb","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"true","x":534.1333312988281,"y":551,"wires":[]},{"id":"a7720113.fb91f","type":"function","z":"5f3e9f2.f266c6","name":"dialog_id","func":"msg2 = {};\nmsg2.payload={};\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog.dialog_id;\nreturn msg2;","outputs":1,"noerr":0,"x":771.1333312988281,"y":177,"wires":[["214350aa.06e5b"]]},{"id":"3c6155ec.be3bda","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Delete All Dialogs","mode":"deleteall","dialog":"","clientid":"","converse":"","x":335.6333312988281,"y":695,"wires":[["bd780b93.b7dc28"]]},{"id":"e23863d.f042ba","type":"inject","z":"5f3e9f2.f266c6","name":"Delete All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.63333129882812,"y":696,"wires":[["3c6155ec.be3bda"]]},{"id":"bd780b93.b7dc28","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"true","x":519.6333312988281,"y":695,"wires":[]},{"id":"98192856.683fa8","type":"function","z":"5f3e9f2.f266c6","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":466.6333312988281,"y":302,"wires":[["5bb7e475.a5531c"]]},{"id":"a610d11a.46e46","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":758.6333312988281,"y":128,"wires":[]},{"id":"59dbb086.c8e3","type":"function","z":"5f3e9f2.f266c6","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":516.6333312988281,"y":411,"wires":[["af911168.9195d"]]},{"id":"73003e38.6d70e","type":"inject","z":"f44213e0.6b0cc","name":"String","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":68,"wires":[["9a38b7c2.f7eb38"]]},{"id":"46b66c47.7f2614","type":"watson-tone-analyzer","z":"f44213e0.6b0cc","name":"","tones":"all","sentences":"true","x":574,"y":133.73333740234375,"wires":[["bde75f46.94e3a"]]},{"id":"bde75f46.94e3a","type":"debug","z":"f44213e0.6b0cc","name":"","active":true,"console":"false","complete":"response","x":750.5000610351562,"y":131.93333435058594,"wires":[]},{"id":"9a38b7c2.f7eb38","type":"function","z":"f44213e0.6b0cc","name":"Prepare Request","func":"var data = \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it!\";\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":67.933349609375,"wires":[["46b66c47.7f2614"]]},{"id":"3cddcc5a.d67834","type":"dropbox","z":"f44213e0.6b0cc","dropbox":"","filename":"aDialogTemplateFile.txt","name":"","x":342.5,"y":134,"wires":[["46b66c47.7f2614"]]},{"id":"4746b6e8.5737a8","type":"inject","z":"f44213e0.6b0cc","name":"From Dropbox","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.5,"y":134,"wires":[["3cddcc5a.d67834"]]},{"id":"36aa5742.b7bea8","type":"http request","z":"f44213e0.6b0cc","name":"Get Buffer => Binary","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":334,"y":196,"wires":[["46b66c47.7f2614"]]},{"id":"60db19a0.ff0848","type":"inject","z":"f44213e0.6b0cc","name":"Buffer Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104,"y":196,"wires":[["36aa5742.b7bea8"]]},{"id":"ded4bfa5.2160b","type":"http in","z":"3665fcd.f4a2004","name":"HTTP GET /TEDTalks","url":"/TEDTalks","method":"get","swaggerDoc":"","x":117,"y":59,"wires":[["5d0a1a33.7d23a4"]]},{"id":"5d0a1a33.7d23a4","type":"function","z":"3665fcd.f4a2004","name":"Extract concept parameter","func":"msg.payload = msg.payload.concept;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":127,"wires":[["b8c9079c.64c638"]]},{"id":"6ce5dcb5.301a24","type":"http response","z":"3665fcd.f4a2004","name":"HTTP Response","x":1236,"y":298,"wires":[]},{"id":"b8c9079c.64c638","type":"watson-concept-insights-search-concepts","z":"3665fcd.f4a2004","x":637,"y":191,"wires":[["a22cd07d.3e041"]]},{"id":"a22cd07d.3e041","type":"watson-concept-insights-search","z":"3665fcd.f4a2004","name":"","corpus":"68199cb3.fe1c04","mode":"corpus","docapicall":"annotations","corpusapicall":"conceptualsearch","docname":"","query":"","x":950,"y":236,"wires":[["6ce5dcb5.301a24"]]},{"id":"4b0fb9f.e630a48","type":"dropbox","z":"3665fcd.f4a2004","dropbox":"","filename":"","name":"Get text file from Dropbox","x":353,"y":381,"wires":[["138258a4.1bc577"]]},{"id":"2853408f.67002","type":"inject","z":"3665fcd.f4a2004","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":289,"wires":[["4b0fb9f.e630a48"]]},{"id":"138258a4.1bc577","type":"watson-concept-insights-upload-document","z":"3665fcd.f4a2004","name":"","corpus":"546fa56.c86555c","documentname":"Test Document","documentlabel":"This document is a test for the concept insights service","contenttype":"text/plain","x":668,"y":348,"wires":[]},{"id":"80bf204e.f7015","type":"inject","z":"3665fcd.f4a2004","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":510,"wires":[["1eedf3f2.bb1a7c"]]},{"id":"1eedf3f2.bb1a7c","type":"watson-concept-insights-search","z":"3665fcd.f4a2004","name":"","corpus":"546fa56.c86555c","mode":"corpus","docapicall":"annotations","corpusapicall":"statistics","docname":"","query":"","x":376,"y":506,"wires":[["38f3ce97.8191d2"]]},{"id":"38f3ce97.8191d2","type":"debug","z":"3665fcd.f4a2004","name":"","active":true,"console":"false","complete":"false","x":688,"y":544,"wires":[]},{"id":"4f0a3052.43b6","type":"inject","z":"150e1f6b.17a5d1","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":78,"y":57,"wires":[["e088029e.a9b5a"]]},{"id":"e088029e.a9b5a","type":"function","z":"150e1f6b.17a5d1","name":"Prepare Request","func":"msg.payload=\"AlchemyAPI uses natural language processing, artificial intelligence, deep learning and massive-scale web crawling to power it's text analysis capabilities. Try entering your own text in this text box to see what knowledge AlchemyAPI can extract from your unstructured data\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":54,"wires":[["a70128d5.5ff2e8"]]},{"id":"a70128d5.5ff2e8","type":"alchemy-feature-extract","z":"150e1f6b.17a5d1","name":"","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"x":515,"y":90,"wires":[["1a0220e2.d9efff"]]},{"id":"1a0220e2.d9efff","type":"debug","z":"150e1f6b.17a5d1","name":"","active":true,"console":"true","complete":"features","x":712,"y":88,"wires":[]},{"id":"c24c8be3.a5abf8","type":"http request","z":"150e1f6b.17a5d1","name":"","method":"GET","ret":"txt","url":"ibm.com","x":249,"y":124,"wires":[["a70128d5.5ff2e8"]]},{"id":"b90162a7.03fc3","type":"inject","z":"150e1f6b.17a5d1","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":81,"y":125,"wires":[["c24c8be3.a5abf8"]]},{"id":"2c5c3f26.fd538","type":"template","z":"a998d52d.b1a658","name":"Prompt Images","field":"payload","format":"html","template":"<h1>Welcome to the Alchemy Vision Face Detection Demo on Node-RED</h1>\n<H2>Select an image</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://www.ambafrance-mt.org/local/cache-vignettes/L945xH539/family_photo8851-b0e9b.jpg\" height='100'/>\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/f/f1/34th_G8_summit_member_20080707.jpg\" height='100'/>\n    <img src=\"http://demo1.alchemyapi.com/images/vision/politicians.jpg\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n    Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","x":523,"y":58,"wires":[["5992ec5a.4f8674"]]},{"id":"f732df7d.1bd5c","type":"http in","z":"a998d52d.b1a658","name":"","url":"/alchvision","method":"get","swaggerDoc":"","x":85,"y":72,"wires":[["2721c0d6.42467"]]},{"id":"5992ec5a.4f8674","type":"http response","z":"a998d52d.b1a658","name":"HTTP Response","x":793,"y":141,"wires":[]},{"id":"2721c0d6.42467","type":"switch","z":"a998d52d.b1a658","name":"Check image url","property":"payload.imageurl","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":214,"y":141,"wires":[["2c5c3f26.fd538"],["d86fa146.6c98c"]]},{"id":"79307905.6398e8","type":"template","z":"a998d52d.b1a658","name":"Report Faces","field":"payload","format":"html","template":"<h1>Alchemy Image Analysis</h1>\n<p>Analyzed image: {{payload}}<br/><img id=\"alchemy_image\" src=\"{{payload}}\" height=\"50\"/></p>\n{{^result}}\n<P>No Face detected</P>\n{{/result}}\n<table border='1'>\n    <thead><tr><th>Age Range</th><th>Score</th><th>Gender</th><th>Score</th><th>Name</th></tr></thead>\n    {{#result}}<tr>\n        <td><b>{{age.ageRange}}</b></td><td><i>{{age.score}}</i></td>\n        <td>{{gender.gender}}</td><td>{{gender.score}}</td>\n        {{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n    </tr>{{/result}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>","x":624,"y":231,"wires":[["5992ec5a.4f8674"]]},{"id":"d86fa146.6c98c","type":"change","z":"a998d52d.b1a658","name":"Extract img URL","rules":[{"t":"set","p":"payload","to":"msg.payload.imageurl"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":237,"wires":[["e3fa517b.762f5"]]},{"id":"e3fa517b.762f5","type":"alchemy-image-analysis","z":"a998d52d.b1a658","name":"","apikey":"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX","image-feature":"imageFaces","x":477,"y":297,"wires":[["79307905.6398e8"]]},{"id":"26937545.beb2aa","type":"comment","z":"a998d52d.b1a658","name":"Link to the Lab","info":"See corresponding Lab instructions in the link below :\n\n[Watson Alchemy Image Analysis Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/alchemy_api_image_analysis)","x":85,"y":28,"wires":[]},{"id":"fc4fa45e.775078","type":"comment","z":"150e1f6b.17a5d1","name":"Link to the Lab","info":"See corresponding Lab instructions in the link below :\n\n[Watson Alchemy Feature Extract Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/alchemy_api_feature_extraction)","x":85,"y":20,"wires":[]},{"id":"384e2a4a.64dc16","type":"comment","z":"5f3e9f2.f266c6","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n- [Watson Dialog Template Creation Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/dialog_template_creation)\n- [Watson Dialog Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/dialog)","x":120,"y":23,"wires":[]},{"id":"8ab1fc53.d520a","type":"comment","z":"f44213e0.6b0cc","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n- [Watson Tone Analyser Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/tone_analyser)\n","x":124,"y":27,"wires":[]}]